{% extends "base.html" %}
{% load i18n static %}
{% block html_class %}login-pf{% endblock %}
{% block title %}{% trans "Login" %}{% endblock %}

{% block contents %}
<style>
  .xobin-login-panel {
    text-align: center;
    margin-bottom: 25px;
  }
  .xobin-login-panel img {
    max-height: 48px;
    margin-bottom: 10px;
  }
  .login-divider {
    display: flex;
    align-items: center;
    text-align: center;
    color: #999;
    margin: 20px 0;
    font-size: 13px;
  }
  .login-divider::before,
  .login-divider::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #ddd;
  }
  .login-divider:not(:empty)::before {
    margin-right: .75em;
  }
  .login-divider:not(:empty)::after {
    margin-left: .75em;
  }
  .btn-google {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: #fff;
    border: 1px solid #dadce0;
    color: #3c4043;
    font-weight: 500;
  }
  .btn-google:hover {
    background: #f7f8f8;
    color: #3c4043;
  }
  .btn-google svg {
    width: 18px;
    height: 18px;
  }
</style>

<div class="container">
  <div class="row">
    <div class="col-sm-7 col-md-6 col-lg-5 login">

      <div class="xobin-login-panel">
        <img src="{% static 'images/OIP.jpg' %}" alt="Xobin">
      </div>

      {% block login_form %}
          {{ form.non_field_errors }}
          <form class="form-horizontal" role="form" action="{% url "tcms-login" %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">
            <div class="form-group">
              {{ form.username.errors }}
              <label for="inputUsername" class="col-sm-2 col-md-2 control-label">{% trans "Username" %}</label>
              <div class="col-sm-10 col-md-10">
                <input type="text" class="form-control" id="inputUsername" name="username" placeholder="" tabindex="1">
              </div>
            </div>
            <div class="form-group">
              {{ form.password.errors }}
              <label for="inputPassword" class="col-sm-2 col-md-2 control-label">{% trans "Password" %}</label>
              <div class="col-sm-10 col-md-10">
                <input type="password" class="form-control" id="inputPassword" name="password" placeholder="" tabindex="2">
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-8 col-sm-offset-2 col-sm-6 col-md-offset-2 col-md-6">
                  <span class="help-block"><a href="{% url "tcms-password_reset" %}" tabindex="6">{% trans "Forgot password" %}</a>?</span>
              </div>
              <div class="col-xs-4 col-sm-4 col-md-4 submit">
                <button type="submit" class="btn btn-primary btn-lg" tabindex="4">{% trans "Log in" %}</button>
              </div>
            </div>
          </form>
      {% endblock %}

      {% block custom_login %}
      <div class="login-divider">{% trans "OR" %}</div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <form action="{% url 'social:begin' 'google-oauth2' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-google btn-lg btn-block">
              <svg viewBox="0 0 48 48">
                <path fill="#FFC107" d="M43.6 20.5H42V20H24v8h11.3C33.7 32.9 29.3 36 24 36c-6.6 0-12-5.4-12-12s5.4-12 12-12c3.1 0 5.9 1.2 8 3.1l5.7-5.7C34.5 6.1 29.5 4 24 4 12.9 4 4 12.9 4 24s8.9 20 20 20 20-8.9 20-20c0-1.3-.1-2.7-.4-3.5z"/>
                <path fill="#FF3D00" d="M6.3 14.7l6.6 4.8C14.5 15.6 18.9 13 24 13c3.1 0 5.9 1.2 8 3.1l5.7-5.7C34.5 6.1 29.5 4 24 4 16.3 4 9.7 8.3 6.3 14.7z"/>
                <path fill="#4CAF50" d="M24 44c5.2 0 10-2 13.5-5.2l-6.2-5.2C29.3 35.4 26.8 36 24 36c-5.3 0-9.7-3.1-11.3-7.6l-6.5 5C9.5 39.6 16.2 44 24 44z"/>
                <path fill="#1976D2" d="M43.6 20.5H42V20H24v8h11.3c-.8 2.3-2.3 4.3-4.2 5.7l6.2 5.2C39.9 36.5 44 31 44 24c0-1.3-.1-2.7-.4-3.5z"/>
              </svg>
              {% trans "Sign in with Google" %}
            </button>
          </form>
        </div>
      </div>
      {% endblock %}
    </div><!--/.col-*-->
    <div class="col-sm-5 col-md-6 col-lg-7 details">
      <p>
        <strong>
            {% trans "Welcome to Kiwi TCMS" %} |
            {% trans "the leading open source test case management system" %}!
        </strong>
      </p>
      <p>
      {% trans "Please login to get started" %}
      {% if SETTINGS.REGISTRATION_ENABLED %}
        {% trans "or" %}
        <a href="{% url "tcms-register" %}">{% trans "register an account" %}</a>
        {% trans "if you don't have one!" %}
      {% endif %}
      </p>
    </div><!--/.col-*-->
  </div><!--/.row-->
</div><!--/.container-->
{% endblock %}
